<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- HTTP isteklerini HTTPS'ye yönlendir -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- WebSocket reverse proxy (ws:// veya wss:// bağlantıları için) -->
        <rule name="WebSocketProxy" stopProcessing="true">
          <match url="^ws" />
          <action type="Rewrite" url="http://localhost:4444/{R:0}" />
          <serverVariables>
            <set name="HTTP_UPGRADE" value="{HTTP_UPGRADE}" />
            <set name="HTTP_CONNECTION" value="{HTTP_CONNECTION}" />
          </serverVariables>
        </rule>

        <!-- Tüm diğer istekleri app.js'ye yönlendir -->
        <rule name="NodeJsRouting" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <webSocket enabled="true" />
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" loggingEnabled="true" devErrorsEnabled="true"/>

    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".json" allowed="true" />
          <add fileExtension=".wasm" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".html" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".jpeg" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".svg" allowed="true" />
          <add fileExtension=".woff" allowed="true" />
          <add fileExtension=".woff2" allowed="true" />
          <add fileExtension=".ttf" allowed="true" />
          <add fileExtension=".eot" allowed="true" />
          <add fileExtension=".ico" allowed="true" />
          <add fileExtension=".txt" allowed="true" />
          <add fileExtension=".xml" allowed="true" />
          <add fileExtension=".zip" allowed="true" />
          <add fileExtension=".rar" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
      <mimeMap fileExtension=".xml" mimeType="application/xml" />
      <mimeMap fileExtension=".zip" mimeType="application/zip" />
      <mimeMap fileExtension=".rar" mimeType="application/x-rar-compressed" />
    </staticContent>
  </system.webServer>
</configuration>